[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pyflakes = "*"

[packages]
markdown = "*"
pelican = "*"
ghp-import = "*"
markup = "*"
invoke = "*"
feedparser = "*"

[requires]
python_version = "3.6"
