[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pyflakes = "*"
flake8-markdown = "*"
flake8-unused-arguments = "*"
flake8-blind-except = "*"
flake8-import-order = "*"
flake8-bugbear = "*"
flake8-imports = "*"
flake8-commas = "*"
flake8-polyfill = "*"
flake8-black = "*"
flake8-bandit = "*"
flake8-absolute-import = "*"
flake8-comprehensions = "*"
ipython = "*"

[packages]
arrow = "*"
markdown = "*"
pelican = "*"
ghp-import = "*"
markup = "*"
invoke = "*"
feedparser = "*"

[requires]

[pipenv]
allow_prereleases = true
gensim = "*"
